<app-background></app-background>
<div class="container">
  <h1>Sign Up</h1>
  <p>Welcome to the Navigate Community!</p>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-group">
      <button
        class="btn btn-type btn-primary"
        (click)="selectedUserType = 'admin'; adminSelected = true"
        [ngClass]="{ active: adminSelected }"
      >
        Admin
      </button>
      <button
        class="btn btn-type btn-primary"
        (click)="selectedUserType = 'regular'; adminSelected = false"
        [ngClass]="{ active: !adminSelected }"
      >
        Regular
      </button>
    </div>
    <div class="form-column">
      <div class="form-group">
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          placeholder="First Name"
        />
        <label for="firstName" class="form-label">First Name</label>
      </div>
      <div class="form-group">
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          placeholder="Last Name"
        />
        <label for="lastName" class="form-label">Last Name</label>
      </div>
    </div>
    <div class="form-group form-group-mail-pass">
      <input
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="Email"
      />
      <label for="email" class="form-label">Email</label>
    </div>
    <div class="form-group form-group-mail-pass">
      <input
        type="password"
        formControlName="password"
        class="form-control"
        placeholder="Password"
      />
      <label for="password" class="form-label">Password</label>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="signupForm.invalid"
    >
      Sign Up
    </button>
    <p class="login-text">
      Already have an account?
      <span class="login-link" routerLink="/login">Log In</span>
    </p>
  </form>
</div>
