@import "../../../../../styles/colors.scss";
@import "../../../../../styles/custom-styles.scss";

.container {
  width: fit-content;
  display: inline-block;
  margin-right: 150px;
}

.input-group {
  background-color: transparent;
  border-radius: 5px;
  width: 75vh;
}

.input-group-text {
  cursor: pointer;
  color: $secondary;
  background-color: transparent;
  border-color: $secondary;
  border-left: none;
}

.form-control {
  textarea {
    outline: none;
  }
  background-color: transparent;
  border-color: $secondary;
  border-right: none;
  border-left: none;
}

// .form-control:focus,
// textarea:focus,
// select:focus {
//   outline: none !important;
// }

.form-control::placeholder {
  color: $secondary;
}

.dropdown-btn {
  border-radius: 5px 0 0 5px;
}

.limited-dropdown {
  width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nested-dropdown-btn {
  width: 100%;
  border-radius: 0;
}
