// main colors

$primary: #39aab4;
$secondary: #475e6b;
$success-color: #28a745;
$danger-color: #dc3545;

// essentials

$black: #0000;
$white: #ffff;
$deep-indigo: #1D1C3F;
$dark-blue: #00024B;
$light-grey: #708090;

// hovering effects

$primary-hover: #287981;
