// buttons

.btn-primary {
  background-color: $primary !important;
  border: none;
}

// .btn-primary.active {
//   background-color: $primary-hover;
//   color: #fff;
// }

.btn-primary:hover,
.btn-primary.active,
.btn-primary:focus {
  background-color: $primary-hover !important;
}

.btn-primary-light {
  background-color: transparent !important;
  border: 1px solid $primary;
  color: $primary;
}

.btn-primary-light:hover,
.btn-primary-light.active,
.btn-primary-light:focus {
  background-color: $primary !important;
  color: $white;
}

// routing links

.routing-text {
  font-size: 16px;
  text-align: right;
  margin-top: 25px;
}

.routing-link {
  color: $primary;
  cursor: pointer;
}

.routing-link:hover {
  text-decoration: underline;
}

// form controls
