
// default font-family

p {
  font-family: "Open Sans", sans-serif;
}

// buttons

// primary buttons

.btn-primary {
  background-color: $primary !important;
  border: none;
}

// .btn-primary.active {
//   background-color: $primary-hover;
//   color: #fff;
// }

.btn-primary:hover,
.btn-primary.active,
.btn-primary:focus {
  background-color: $primary-hover !important;
}

.btn-primary-light {
  background-color: transparent !important;
  border: 1px solid $primary;
  color: $primary;
}

.btn-primary-light:hover,
.btn-primary-light.active,
.btn-primary-light:focus {
  background-color: $primary !important;
  color: $white;
}

// secondary buttons

.btn-secondary {
  background-color: $secondary !important;
  border: none;
}

.btn-secondary:hover,
.btn-secondary.active,
.btn-secondary:focus {
  background-color: $secondary-hover !important;
}

.btn-secondary-light {
  background-color: transparent !important;
  border: 1px solid $secondary;
  color: $secondary;
}

.btn-secondary-light:hover,
.btn-secondary-light.active,
.btn-secondary-light:focus {
  background-color: $secondary !important;
  color: $white;
}

// transparent buttons

.btn-transparent {
  background-color: transparent;
  border: none;
}

.btn-transparent:hover,
.btn-transparent.active,
.btn-transparent:focus {
  background-color: $light-grey !important;
  color: $white;
}

// routing links

.routing-text {
  font-size: 16px;
  text-align: right;
  margin-top: 25px;
}

.routing-link {
  color: $primary;
  cursor: pointer;
}

.routing-link:hover {
  text-decoration: underline;
}

// form controls
