@import "../../../../styles/colors.scss";
@import "../../../../styles/custom-styles.scss";

.card {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0.1, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.15s ease;
  margin-bottom: 25px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.card:hover {
  box-shadow: 0 0 9px rgba(0, 0.1, 0, 0.2);
}

.card-body {
  padding: 15px;
}

.card-text {
  font-size: 14px;
  padding: 2px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-flags {
  display: flex;
  justify-content: space-between;
}

.country-flag {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.continent {
  color: $primary;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;
}

.edit-icon {
  margin-right: 2px;
  width: 24px;
  height: 24px;
  color: $light-grey;
  cursor: pointer;
}

.input-with-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-with-label label {
  flex: 0 0 120px;
  margin-right: 10px;
  font-weight: bold;
}

.input-as-paragraph {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

.input-as-paragraph:focus {
  outline: none;
}
