@import "../../../../styles/colors.scss";
@import "../../../../styles/custom-styles.scss";

.navbar {
  background-color: $white !important;
  height: 9vh;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  margin-left: 100px;
}

.input-group {
  background-color: transparent;
  border-radius: 5px;
  // box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin-right: 100px;
  width: 50vh;
}
.input-group-text {
  background-color: transparent;
  border-color: $secondary;
  border-right: none;
}

.form-control {
  outline: none;
  background-color: transparent;
  border-color: $secondary;
  border-left: none;
}

.form-control::placeholder {
  color: $secondary;
}

.input-group-text {
  cursor: pointer;
  color: $secondary;
}