<div class="container">
  <div class="h-container">
    <h1>Step into a world of wonder and intrigue!</h1>
    <h2>
      Our app is your passport to exploring the stunning beauty and captivating
      history of countries across the globe.
    </h2>
  </div>
  <div class="bg-container">
    <img class="showing bg" src="../../../../../assets/image3.jpg" />
    <!-- <img class="bg" src="../../../../../assets/image12.jpg" />
    <img class="bg" src="../../../../../assets/image10.jpg" /> -->
  </div>
</div>

<div class="bg-stain"></div>
